body{
   display: flex;
   justify-content: csnter;
   align-items: center;
   min-hight: 100hv;
   mergin: 0;
   font-family: Arial, sens-serif;
   background-color: #f4f4f4;
 }
 .my-list{
   padding : 8px 24px;
   width:500 px;
   font-size: 30px;
   text-align : center;
   border: 1px solid #ff7f381;
   background-color: #f7f381;
   box-shadow: 0 10px 2px #333333;
  }
  ol{
   margin : 12px;
   text-align: left;
 }
 p{
  margin: 0;
  font-size: 20px;
  }
  